<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> @User.Identity.Name
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="ManageContacts">
                    <i class="bi bi-person-lines-fill"></i> 管理联系人
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="SipSettings">
                    <i class="bi bi-telephone-fill"></i> SIP账号设置
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="dropdown-item">
                        <i class="bi bi-box-arrow-right"></i> 退出登录
                    </button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">
            <i class="bi bi-box-arrow-in-right"></i> 登录
        </a>
    </li>
}
</ul>